.header-container {
  display: flex;
}

.header-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(7, 31, 7, 0.87);
  font-size: 1.5rem;
}

.login-card {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-header {
  font-size: 2rem;
}

.link-button {
  color: wheat;
}
.link-button:hover {
  color: white;
}