body {
  margin: 0 10%;
  background-color: rgba(7, 31, 7, 0.87);
}

.container-albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-album {
  align-items: center;
  border: 5px solid rgba(7, 31, 7, 0.87);
  box-shadow: 5px 7px 10px rgba(7, 31, 7, 0.87);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 250px;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  width: 250px;
  text-align: center;
}

.card-artist {
  align-items: center;
  background-color: black;
  border: solid 10px black;
  border-radius: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 10px;
  width: 200px;
}

.image-artist {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.card-music {
  display: flex;
  justify-content: center;
  background-color: rgba(7, 31, 7, 0.87);
}

.track-example {
  align-items: center;
  background-color: rgb(75, 74, 74);
  border: 10px solid black;
  border-radius: 25px;
  color: white;
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}

.loading {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  background-color: rgba(7, 31, 7, 0.87);
  color: white;
}

.profile-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
